.css-6hp17o-MuiList-root-MuiMenu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 0 !important;
    padding-bottom: 5px !important;
    outline: 0;
}

.css-17o22dy-MuiAvatar-root {
    margin-right: 5px !important;
}